.title {
  background-color: $white;
  font-family: 'Lustria';
  font-weight: normal;
}

a {
  color: $alert-color;
  text-decoration: none;
}

a:hover {
  color: $secondary-color;
  text-decoration: none;
}

body {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 100%
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lustria';
  font-weight: normal;
  color: $medium-gray;
}

.nope {
  color: $white;
}
